.container{
    display:flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4px;
}

.container div{
    background-color: rgb(201, 247, 255);
    height: 100px;
    width: 100px;
    border-radius: 4px;
    color: black;
    font-size: 24px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    cursor: pointer;
    
}

